@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
.intro {
    display: table;
    width: 100%;
    padding: 0;
    background-image: url('./images/headerBg3.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  .intro h1 {
    font-family: "Poppins", sans-serif;
    color: #f1fdf4;
    font-size: 3rem;;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .intro .overlay {
  background: rgba(0, 0, 0, 0.5);
}

  .intro h1 span {
    font-weight: 800;
    color: #5ca9fb;
  }
  .intro p {
    color: #f1fdf4;
    font-size: 5rem;
    font-weight: 300;
    line-height: 60px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 200px;
    text-align:left ;
  }

  .intro-imgae {
      margin: 0 auto;
      margin-top: 350px;
    }

  @media screen and (min-width:600px) {
    
    .intro-text {
      margin-left: -110px;
    }

    header .intro-image {
      margin: 0 auto;
      margin-top: 350px;
      display: flex;
      justify-content: space-around;
    }

    .intro-image .img1 {
      width: 70%;
      height: 70%;
      margin-bottom: 210px;
      margin-left: 270px;
      border-radius: 5px;
      box-shadow: 0 0.4rem 1.2rem  rgba(0, 0, 0, 0.25);
      margin-top: -60px;
    }

    .intro-image .img2 {
      width: 50%;
      height: 30%;
      left: 55%;
      margin-top: -320px;
      border-radius: 5px;
      box-shadow: 0 0.4rem 1.2rem  rgba(0, 0, 0, 0.25);
      transform: rotate(90deg);
    }


  }
  